name: Build macOS
on:
  workflow_call:
    inputs:
      artifact-pattern:
        required: false
        type: string
        description: 'Pattern to search for artifact file'
        default: '${{ github.event.repository.name }}-*-xpro.tar.xz'
      cmake-workflow-preset:
        required: false
        type: string
        description: 'CMake workflow preset to use; e.g. Darwin, DarwinRelease, DarwinReleaseNoInstall'
        default: "Darwin"
jobs:
  build:
    runs-on: macos-15
    steps:
      -
        name: CMake Build
        uses: ./.devcontainer/.github/actions/cmake-build
        with:
          artifact-pattern: ${{ inputs.artifact-pattern }}
          cmake-workflow-preset: ${{ inputs.cmake-workflow-preset }}
          cmake-preset: Darwin
          no-install-preset: DarwinReleaseNoInstall
