name: Build Linux
env:
  RUNNER_AMD64: ubuntu-latest
  RUNNER_ARM64: ubuntu-24.04-arm
on:
  workflow_call:
    inputs:
      artifact-pattern:
        required: false
        type: string
        description: 'Pattern to search for artifact file'
        default: '${{ github.event.repository.name }}-*-devel.tar.xz'
      cmake-workflow-preset:
        required: false
        type: string
        description: 'CMake workflow preset to use; e.g. Linux, LinuxRelease, LinuxReleaseNoInstall'
        default: "Linux"
      arch-list:
        required: false
        type: string
        description: 'JSON array of target architectures (e.g. ["amd64","arm64"])'
        default: '["amd64","arm64"]'
      buildpro-images:
        required: false
        type: string
        description: 'JSON array of buildpro images to build (e.g. ["rocky8-gcc9","rocky9-gcc13","ubuntu"])'
        default: '["rocky8-gcc9"]'
jobs:
  lc-repo-names:
    runs-on: ubuntu-latest
    outputs:
      owner_repo: ${{ steps.names.outputs.owner_repo }}
      repo: ${{ steps.names.outputs.repo }}
    steps:
      -
        name: Lowercase repository names
        id: names
        run: |
          REPO_NAME=$(echo '${{ github.event.repository.name }}' | tr '[:upper:]' '[:lower:]')
          OWN_REPO_NAME=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')
          echo "owner_repo=${OWN_REPO_NAME}" >> "$GITHUB_OUTPUT"
          echo "repo=${REPO_NAME}" >> "$GITHUB_OUTPUT"
  build-docker-image:
    needs: lc-repo-names
    runs-on: ${{ matrix.arch == 'arm64' && env.RUNNER_ARM64 || env.RUNNER_AMD64 }}
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.arch-list) }}
        buildpro_image: ${{ fromJson(inputs.buildpro-images) }}
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history
          fetch-tags: true # explicitly fetches tags
          submodules: true
      -
        name: Configure git
        run: |
          touch ~/.gitconfig
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
      -
        name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push docker image
        run: |
          REPO_NAME='${{ needs.lc-repo-names.outputs.repo }}'
          LOCAL_IMAGE="${REPO_NAME}-bld:latest"
          OWN_REPO_NAME='${{ needs.lc-repo-names.outputs.owner_repo }}'
          REMOTE_IMAGE="ghcr.io/${OWN_REPO_NAME}/bldimg-${{ matrix.arch }}-${{ matrix.buildpro_image }}:latest"
          echo "Building buildpro image ${REMOTE_IMAGE}"
          ./docker-compose.sh -b -i "${{ matrix.buildpro_image }}"
          docker tag "${LOCAL_IMAGE}" "${REMOTE_IMAGE}"
          docker push "${REMOTE_IMAGE}"
          docker images
  build:
    needs: [lc-repo-names, build-docker-image]
    if: ${{ needs.build-docker-image.result == 'success' }}
    runs-on: ${{ matrix.arch == 'arm64' && env.RUNNER_ARM64 || env.RUNNER_AMD64 }}
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.arch-list) }}
        buildpro_image: ${{ fromJson(inputs.buildpro-images) }}
    env:
      CMAKE_PRESET: Linux
    container:
      image: ${{ format('ghcr.io/{0}/bldimg-{1}-{2}:latest', needs.lc-repo-names.outputs.owner_repo, matrix.arch, matrix.buildpro_image) }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history
          fetch-tags: true # explicitly fetches tags
          submodules: true
      -
        name: CMake Configure
        run: cmake --preset=${{ env.CMAKE_PRESET }}
      -
        name: Upload CMake logs
        uses: actions/upload-artifact@v4
        with:
          name: cmake-logs-${{ env.CMAKE_PRESET }}-${{ runner.arch }}-${{ matrix.buildpro_image }}
          path: |
            _bld-${{ env.CMAKE_PRESET }}/CMakeFiles/CMakeConfigureLog.yaml
      -
        name: CMake Workflow
        run: cmake --workflow --preset=${{ inputs.cmake-workflow-preset }}
      -
        name: Find package
        id: find_package
        if: ${{ inputs.cmake-workflow-preset != 'LinuxReleaseNoInstall' }}
        shell: bash
        run: |
          file=$(pwd)/$(ls _bld-${{ env.CMAKE_PRESET }}/${{ inputs.artifact-pattern }})
          if [[ ! -f "$file" ]]; then
            echo "::error::Package not found!" >&2
            exit 1
          fi
          echo "filepath=$file" >> $GITHUB_OUTPUT
          echo "filename=$(basename $file)" >> $GITHUB_OUTPUT
        working-directory: ${{ github.workspace }}
      -
        name: Upload package artifact
        if: ${{ inputs.cmake-workflow-preset != 'LinuxReleaseNoInstall' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.find_package.outputs.filename }}
          path: ${{ steps.find_package.outputs.filepath }}
      -
        name: Check for dirty repo
        shell: bash
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "::error::Dirty repo detected!"
            git status
            git submodule foreach git status
            exit 1
          fi
  clean-up:
    needs: [lc-repo-names, build-docker-image, build]
    if: ${{ needs.build.result == 'success' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.arch-list) }}
        buildpro_image: ${{ fromJson(inputs.buildpro-images) }}
    steps:
      -
        name: Delete untagged images from ghcr
        uses: snok/container-retention-policy@v3.0.0
        with:
          account: ${{ github.actor == github.repository_owner && 'user' || github.repository_owner }}
          token: ${{ secrets.GITHUB_TOKEN }}
          image-names: ${{ format('{0}/bldimg-{1}-{2}', needs.lc-repo-names.outputs.repo, matrix.arch, matrix.buildpro_image) }}
          tag-selection: untagged
          cut-off: 1m
          dry-run: false
