name: Build Windows
on:
  workflow_call:
    inputs:
      artifact_pattern:
        required: false
        type: string
        description: 'Pattern to search for artifact file'
        default: '${{ github.event.repository.name }}-*-xpro.tar.xz'
      cmake_workflow_preset_suffix:
        required: false
        type: string
        description: 'CMake workflow preset suffix to use; e.g. Release, ReleaseNoInstall'
        default: ""
      vs_compilers:
        required: false
        type: string
        description: 'JSON array of Visual Studio compiler versions to build (e.g. ["Vs2022","Vs2026"])'
        default: '["Vs2022","Vs2026"]'
jobs:
  build:
    runs-on: ${{ matrix.vs_compiler == 'Vs2026' && 'windows-2025-vs2026' || 'windows-2022' }}
    strategy:
      fail-fast: false
      matrix:
        vs_compiler: ${{ fromJson(inputs.vs_compilers) }}
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history
          fetch-tags: true # explicitly fetches tags
          submodules: true
      -
        name: CMake Build
        uses: ./.devcontainer/.github/actions/cmake-build
        with:
          artifact_pattern: ${{ inputs.artifact_pattern }}
          cmake_preset: Msw${{ matrix.vs_compiler }}
          cmake_workflow_preset_suffix: ${{ inputs.cmake_workflow_preset_suffix }}
