name: Build Windows
on:
  workflow_call:
    inputs:
      artifact_pattern:
        required: false
        type: string
        description: 'Pattern to search for artifact file'
        default: '${{ github.event.repository.name }}-*-xpro.tar.xz'
      cmake_workflow_preset_suffix:
        required: false
        type: string
        description: 'CMake workflow preset suffix to use; e.g. Release, ReleaseNoInstall'
        default: ""
jobs:
  build:
    runs-on: windows-2022
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history
          fetch-tags: true # explicitly fetches tags
          submodules: true
      -
        name: CMake Build
        uses: ./.devcontainer/.github/actions/cmake-build
        with:
          artifact_pattern: ${{ inputs.artifact_pattern }}
          cmake_preset: MswVs2022
          cmake_workflow_preset_suffix: ${{ inputs.cmake_workflow_preset_suffix }}
