name: Build Linux
on:
  workflow_call:
    inputs:
      artifact-pattern:
        required: false
        type: string
        description: 'Pattern to search for artifact file'
        default: '${{ github.event.repository.name }}-*-devel.tar.xz'
      cmake-workflow-preset:
        required: false
        type: string
        description: 'CMake workflow preset to use; e.g. Linux, LinuxRelease, LinuxReleaseNoInstall'
        default: "Linux"
      runon:
        required: false
        type: string
        description: 'runs-on value (e.g., ubuntu-latest, ubuntu-24.04-arm, etc.)'
        default: "ubuntu-latest"
      buildpro-images:
        required: false
        type: string
        description: 'JSON array of buildpro images to build (e.g. ["rocky8-gcc9","rocky9-gcc13","ubuntu"])'
        default: '["rocky8-gcc9"]'
jobs:
  docker-image-name:
    runs-on: ${{ inputs.runon }}
    outputs:
      ghcrio_image_base: ${{ steps.names.outputs.ghcrio_image_base }}
      delete_image_base: ${{ steps.names.outputs.delete_image_base }}
    steps:
      -
        name: Compute docker/GHCR base image names
        id: names
        run: |
          REPO_NAME=$(echo $(basename ${{ github.repository }}) | tr '[:upper:]' '[:lower:]')
          ORG_REPO_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
          ARCH_NAME=$(echo '${{ runner.arch }}' | tr '[:upper:]' '[:lower:]')
          echo "ghcrio_image_base=ghcr.io/${ORG_REPO_NAME}/bldimg-${ARCH_NAME}" >> "$GITHUB_OUTPUT"
          echo "delete_image_base=${REPO_NAME}/bldimg-${ARCH_NAME}" >> "$GITHUB_OUTPUT"
  build-docker-image:
    needs: docker-image-name
    runs-on: ${{ inputs.runon }}
    strategy:
      matrix:
        buildpro_image: ${{ fromJson(inputs.buildpro-images) }}
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history
          fetch-tags: true # explicitly fetches tags
          submodules: true
      -
        name: Configure git
        run: |
          touch ~/.gitconfig
          git config user.name ${{ github.actor }}
          git config user.email ${{ github.actor }}@users.noreply.github.com
      -
        name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push docker image
        run: |
          REPO_NAME=$(echo '${{ github.event.repository.name }}' | tr '[:upper:]' '[:lower:]')
          LOCAL_IMAGE="${REPO_NAME}-bld:latest"
          REMOTE_BASE="${{ needs.docker-image-name.outputs.ghcrio_image_base }}"
          REMOTE_IMAGE="${REMOTE_BASE}-${{ matrix.buildpro_image }}:latest"
          echo "Building buildpro image ${REMOTE_IMAGE}"
          ./docker-compose.sh -b -i "${{ matrix.buildpro_image }}"
          docker tag "${LOCAL_IMAGE}" "${REMOTE_IMAGE}"
          docker push "${REMOTE_IMAGE}"
          docker images
  build:
    needs: [docker-image-name, build-docker-image]
    if: ${{ needs.build-docker-image.result == 'success' }}
    runs-on: ${{ inputs.runon }}
    strategy:
      matrix:
        buildpro_image: ${{ fromJson(inputs.buildpro-images) }}
    env:
      CMAKE_PRESET: Linux
    container:
      image: ${{ format('{0}-{1}:latest', needs.docker-image-name.outputs.ghcrio_image_base, matrix.buildpro_image) }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetches all history
          fetch-tags: true # explicitly fetches tags
          submodules: true
      -
        name: CMake Configure
        run: cmake --preset=${{ env.CMAKE_PRESET }}
      -
        name: Upload CMake logs
        uses: actions/upload-artifact@v4
        with:
          name: cmake-logs-${{ env.CMAKE_PRESET }}-${{ runner.arch }}-${{ matrix.buildpro_image }}
          path: |
            _bld-${{ env.CMAKE_PRESET }}/CMakeFiles/CMakeConfigureLog.yaml
      -
        name: CMake Workflow
        run: cmake --workflow --preset=${{ inputs.cmake-workflow-preset }}
      -
        name: Find package
        id: find_package
        if: ${{ inputs.cmake-workflow-preset != 'LinuxReleaseNoInstall' }}
        shell: bash
        run: |
          file=$(pwd)/$(ls _bld-${{ env.CMAKE_PRESET }}/${{ inputs.artifact-pattern }})
          if [[ ! -f "$file" ]]; then
            echo "::error::Package not found!" >&2
            exit 1
          fi
          echo "filepath=$file" >> $GITHUB_OUTPUT
          echo "filename=$(basename $file)" >> $GITHUB_OUTPUT
        working-directory: ${{ github.workspace }}
      -
        name: Upload package artifact
        if: ${{ inputs.cmake-workflow-preset != 'LinuxReleaseNoInstall' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.find_package.outputs.filename }}
          path: ${{ steps.find_package.outputs.filepath }}
      -
        name: Check for dirty repo
        shell: bash
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "::error::Dirty repo detected!"
            git status
            git submodule foreach git status
            exit 1
          fi
  clean-up:
    needs: [docker-image-name, build-docker-image, build]
    if: ${{ needs.build.result == 'success' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        buildpro_image: ${{ fromJson(inputs.buildpro-images) }}
    steps:
      -
        name: Delete untagged images from ghcr
        uses: snok/container-retention-policy@v3.0.0
        with:
          account: ${{ github.actor == github.repository_owner && 'user' || github.repository_owner }}
          token: ${{ secrets.GITHUB_TOKEN }}
          image-names: ${{ format('{0}-{1}', needs.docker-image-name.outputs.delete_image_base, matrix.buildpro_image) }}
          tag-selection: untagged
          cut-off: 1m
          dry-run: false
